.hidden {
  display: none !important;
}

#walka{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  margin-top: 20px;
  height: 300px;
  border: 3px solid black;
}

#statystyki_postac, #statystyki_wrog{
  background-color: #f4f4f4;
  border: 10px solid black;
  padding: 10px;
}

#panel_glowny{
  background-color: #e8e8ff;
  border: 2px solid black;
  padding: 20px;
}